
@if(ViewData.ModelMetadata.DisplayName != null)
{
    <div class="editor-label">
        @Html.Label(ViewData.ModelMetadata.DisplayName,
        new Dictionary<string, object>
            {
                { "for", ViewData.ModelMetadata.PropertyName }
            })
    </div>
}

<div class="editor-field">
    @Html.CheckBox("", (bool)Model,
        new Dictionary<string, object>
            {
                { "id", ViewData.ModelMetadata.PropertyName },
                { "name", ViewData.ModelMetadata.PropertyName },
                { "class", "check-box"}
            })
    @Html.ValidationMessage(ViewData.ModelMetadata.PropertyName,
        new Dictionary<string, object>
            {
                { "data-valmsg-for", ViewData.ModelMetadata.PropertyName }
            })
</div>
